$primaryDark = #826725
$primary   = #f9bb22
$secondary = #1a1a1a
$bg-dark   = #111111
$dark = #000000
$color-blue     = #1D3043
$color-green     = #a2ce2d
$color-red       = #DA4A4C
$color-grey      = #8f99a3
$positive = $color-green
$negative = $color-red
$info = $color-blue
$white = #ffffff
$mailnotRead = #1D3043
$secondary-dark = #222222
$input-underline = rgba(0,0,0,0.12)